::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  /* margin-left: 5px; */
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border radius of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #1b2c49; /* Set the color of the scrollbar track */
}
